@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#07070A] text-white antialiased;
}

/* Nice subtle scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 999px;
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.04);
}
